<h2><%= @design_method.name %></h2>

<p>
  <b>Overview:</b> <%= @design_method.overview %>
</p>

<p>
  <b>Process:</b> <%= @design_method.process %>
</p>

<p>
  <b>Principle:</b> <%= @design_method.principle %>
</p>

<p>
  <b>Categories:</b> <%= render @categories %>
</p>

<%= link_to 'Edit', edit_design_method_path(@design_method) %> |
<%= link_to 'Back', design_methods_path %> |
<%= link_to 'Index', design_methods_path %>
